<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes-app">
  <template>
    <style>
      :host {
        display: inline-block;
        padding: 10px;
      }
    </style>
    <div class="container">
      <div class="row">
        <h1 class="col-lg-12">Gestor de Clientes</h1>
        <button on-click="obtenerClientes">Obtener clientes</button>
      </div>
      <table class="table table-striped">
        <thead>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>id</th>
          <!-- <th>País</th> -->
        </thead>
        <tbody>
          <template is="dom-repeat" items="{{clientes}}">
            <tr>
              <td>{{item.nombre}}</td>
              <td>{{item.apellido}}</td>
              <td>{{item.idCliente}}</td>
              <!-- <td><img src="[[obtenerBandera(item.Country)]]" width="50px" height="30px" ></td> -->
            </tr>
          </template>
        </tbody>
      </table>
  </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientesApp extends Polymer.Element {
      static get is() {
        return 'gestor-clientes-app';
      }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          },
          defaultImg: {
            type: String,
            value: "https://cdn0.iconfinder.com/data/icons/social-media-flags/398/Flag_Social_Media_Icons-19-512.png"
          }
        };
      }
      obtenerClientes() {
        var url = 'http://localhost:3000/movimientos';
        var request = new XMLHttpRequest();
        request.open("GET", url, false);
        request.send();
        console.log(request.responseText);
        // this.clientes = JSON.parse(request.responseText).value;
        this.clientes = JSON.parse(request.responseText);
        console.log(this.clientes);
      }
      crearCliente() {
        var url = 'https://services.odata.org/V4/Northwind/Northwind.svc/Customers';
        var request = new XMLHttpRequest();
        request.open("POST", url, false);
        request.setRequestHeader("Accept", "application/json");
        var client = {"CustomerID": "12345", "ContactName": "Cristian Camacho", "CompanyName": "BBVA"};
        request.send(JSON.stringify(client));
        this.response = request.responseText;
        console.log(this.response);
      }
      obtenerBandera(country) {
        console.log(country);
          if (country == 'UK') {
            country = 'United-Kingdom';
          }
          return "https://www.countries-ofthe-world.com/flags-normal/flag-of-" + country + ".png";
      }
    }

    window.customElements.define(GestorClientesApp.is, GestorClientesApp);
  </script>
</dom-module>
