<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="demo_polymer-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
    <h3>Mi propiedad es: [[prop2]]</h3>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class Demo_polymerApp extends Polymer.Element {
      static get is() { return 'demo_polymer-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'cris-demo_polymer-app'
          },
          prop2: {
            type: Number,
            value: 14567
          }
        };
      }
    }

    window.customElements.define(Demo_polymerApp.is, Demo_polymerApp);
  </script>
</dom-module>
